<a href="{{ path('main_homepage') }}">Main</a><br/>
<a href="{{ path('create_record') }}">Create</a><br/>
<a href="{{ path('move_record') }}">Move</a><br/>
<a href="{{ path('create_and_move_record') }}">Create And Move</a><br/>
=================================================================<br/>
{% block body %}{% endblock %}